/*doc
---
title: Button Group
name: button-group
categories:
  - Elements
  - All
---

<code class="pam">
<i class="fa fa-download" alt="Install the Component">
npm install pui-css-buttons-group --save
</i>
</code>

It's a button group!

```html
<p>hello world</p>
```
*/
